<nav class="header-nav">
  <div class="logo">UI-Pirate</div>
  <ul class="nav-links">
    <li>
      <a routerLink="/protected" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Home
      </a>
    </li>
    <li>
      <a routerLink="/about" routerLinkActive="active">
        About
      </a>
    </li>
    <li>
      <a routerLink="/contact" routerLinkActive="active">
        Contact
      </a>
    </li>
    <li>
      <a routerLink="/services" routerLinkActive="active">
        Services
      </a>
    </li>
  </ul>

  <app-button 
    (onBtnClick)="logout()"
    [btnText]="'Logout'" 
    [btnSize]="'lg'" 
    [btnColor]="'success'" 
    [btnVariant]="'solid'" 
    [isRounded]="true"
    [isDisabled]="false"
  ></app-button>

  <!-- <button class="logout-btn" (click)="logout()">Logout</button> -->
</nav>
