<!-- <app-button (onBtnClick)="getData($event)" [btnClasses]="'btn btn-md btn-success btn-rounded'" [btnText]="'save record'" ></app-button> -->


<div class="centered-container">
  <div class="content-box">
    <h2>Home</h2>
    <p>Welcome to the Home page! Enjoy exploring our secure content.</p>
  </div>
</div>

<!-- <app-button [btnClasses]="'btn btn-primary btn-xs'" [btnText]="'Default'"></app-button>
<app-button [btnClasses]="'btn btn-secondary btn-sm'" [btnText]="'Default'"></app-button>
<app-button [btnClasses]="'btn btn-success btn-md'" [btnText]="'Default'"></app-button>
<app-button [btnClasses]="'btn btn-error btn-lg'" [btnText]="'Default'"></app-button>
<app-button [btnClasses]="'btn btn-warning btn-xl'" [btnText]="'Default'"></app-button> -->


