<div class="login-container">
  <div class="login-modal">
    <h2>Login</h2>
    <form (submit)="onLogin(); $event.preventDefault()">
      <label>
        Username:
        <input type="text" [(ngModel)]="username" name="username" required>
      </label>
      <br>
      <label>
        Password:
        <input type="password" [(ngModel)]="password" name="password" required>
      </label>
      <br>

      <app-button 
        [btnText]="'Login'" 
        [btnSize]="'lg'" 
        [btnColor]="'success'" 
        [btnVariant]="'solid'" 
        [isRounded]="true"
        [isDisabled]="false"
      ></app-button>

      <!-- <button type="submit">Login</button> -->
    </form>
    <div *ngIf="error" class="error">{{ error }}</div>
  </div>
</div>


